.headerPage{
    height: 50px;
}
.headicon{
    font-size: 1.1vw;
    font-weight: normal;
    padding-top: 20px;
    color: #333;
}
.hover:hover{
    background-color: #039BE5 ;
    height: 50px;
    color: #fff;
    
}
.hover:hover i{
    color: #fff;
}
.img{
    position: absolute;
    top: 15px;
    height: 25px;
}
.labelhead{
    position: absolute;
    top: 11px;
    /*text-align: center;*/
    /*font-size: 0.9vw;*/
    padding: 2px 2px;
    right: 4px;
    /*line-height: .9;*/

}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 50px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  /*.sidenav {padding-top: 15px;}*/
  .sidenav a {font-size: 18px;}
}

#mysidenav{
      transition: all 0.8s ease 0s;
      z-index: 100;

}

#headerid{
  position: absolute;
  width: 83.1%;
  right: 0px;
  transition: all 0.8s;
  }

  .btnpadd{
  padding: 0px 0px !important;
    background: none !important;
}

.profilebtn{
  margin-top: 10px;
}
.profilebtn:focus{
border:none;
}