.subText{
    font-style: italic;
    font-family: 'PT Sans', sans-serif;
    color:#5f9c30;
}
.miniHeaderDesolved{
    height: auto;
    position: fixed;
    z-index: 1002;
    transition-duration: 0.8s;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
}
.contactDetails {
    margin-top: 18px;
}
.greenColor{
  background-color: #5f9c30 !important;
}
.greenColor:hover{
  background-color: #5f9c30 !important;
}
.fs18{
    font-size:18px;
    color: #5f9c30;
}
.contactLabal{
    font-size: 13px;
    padding-top: -5px;
}

.borderLeft{
    border-left: 1px solid #aaa;
    height: 20px;
    padding: 0px;
    margin-left: 25px;
    color: #999;
    padding-top: 2px;
    padding-left: 10px;
    font-size: 12px;
}
.myAccoutText{    
    color: #999;
    font-weight: normal;
    font-size: 12px;

}
.nav i{
    font-weight: bold;
}
.rightDivContainer img{
    height: 25px;
    cursor: pointer;
    margin-left: 15px;
}

.logoImageContainer{
    height: 46px;
}
.logoImageContainer img{
    margin-top: 20px;
    height: 100%;
    margin-left: 10px;
    width: 100%;
}
.headerMenu{
    margin-top: 5px;
}
.nav>li>a:hover {
    background-color: transparent !important;
}
.navbar-nav>li>a {
    padding-top: 15px;
    margin-right: 14px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 14px !important;
    font-family: 'PT Sans', sans-serif;

    color:#333 !important;
}
.otherClass li>a:hover{
background-color: #5f9c30 !important;
}
.navText{
    background-color: transparent !important;
    margin-top: 21px;
    margin-left: 29px;
    margin-top: 24px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #5f9c30;
    border-color: #337ab7;
}
.backColor{
    height: 110px;
    color: #fff;
}
.cartImg{
    margin-top: 32px;
    cursor: pointer;
}
.mt5{
      background-color: #5f9c30;
    color: #fff;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 28px;
    text-align: center;
    margin-left: -7px;
    margin-top: 30px !important;
}
.customDropdown{
    min-width: 600px !important;
    padding-left: 15px !important;
    font-family: 'PT Sans', sans-serif;


}
.customDropdown>li>a{
    color: #666 !important;
}
.headLi{
    font-size: 15px;
    font-weight:bold;
    margin-top: 10px;
    padding-left: 10px !important;
    color: #666;
}
.noStyle{
    padding-left: 10px !important;
    margin-left: 188px !important;
}
.noStyle li{
    list-style: none;
    padding-top: 10px;
    color: #999;
}
.noStyle>li>a{
    color: #999 !important;
}
.hello{
    z-index: 1000!important;
}
.headerflow{
    position: fixed;
  z-index: 10000;
  background-color: transparent;
  transition-duration: 0.8s;
}
.headerflowscroll{
  position: fixed;
  z-index: 10000;
  background-color: #fff;
  height: 100px;
  box-shadow: 0 10px 14px rgba(92,141,255,.2);
  transition-duration: 0.8s;
}

#container {
  margin: 0 auto;
  max-width: 890px;
}
 .toggle, [id^=drop] {
 display: none;
}
nav {
  margin-top: 37px;
  padding: 0;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: transparent;
  width: auto;
}

nav a {
  display: block;
  padding: 0 13px;
  color: #666;
  line-height: 35px;
    font-family: 'PT Sans', sans-serif;

  text-decoration: none;
}

nav ul li ul li:hover { background: #eee; }

nav a:hover { color: #f08f00;
text-decoration: none; }

nav ul ul {
  display: none;
  position: absolute;
  top: 35px;
  background-color: #fff;
  box-shadow: 0 10px 29px rgba(92,141,255,.5);
  height: 0px;

}

nav ul :hover > ul { display: inherit; }

nav ul ul li {
  width: auto;
  float: none;
  display: list-item;
  position: relative;
  background-color: #fff;
}

nav ul ul ul li {
  width:322px;
  position: relative;
  top: -35px;
  left: 284px;
  background-color: #fff;
}
nav ul ul ul ul li {
  width:360px;
  position: relative;
  top: -35px;
  left: -350px;
  z-index: 100;
  background-color: #fff;
}
nav ul ul ul ul ul li {
  width:310px;
  position: relative;
  top: -35px;
  left: -305px;
  background-color: #fff;
}


li > a:only-child:after { content: ''; }




@media all and (max-width : 768px) {

#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}

nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  background-color: #254441;
  padding: 0 60px;
  color: #eee;
  font-size: 22px;
  font-weight:bold;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { background-color: #000000; }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

nav ul ul ul a { padding: 0 80px; }

nav a:hover,
 nav ul ul ul a { background-color: #000000; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: #212121; }

nav ul ul {
  float: none;
  position: static;
  color: #eee;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: ;
}

nav ul ul ul li { position: static;

}
}

@media all and (max-width : 330px) {

nav ul li {
  display: block;
  width: 94%;
}

}

.headerlogo img{
  margin-top: 15px;
  height: 75px;
}

.zindex{

}


dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
.geoHover:hover~ul>li{
  z-index: 300;
}
.miniHeaderDesolved{
    height: 55px;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
}
.contactDetails {
    margin-top: 18px;
}
.fs18{
    font-size:18px;
    color: #5f9c30;
}
.contactLabal{
    font-size: 13px;
    padding-top: -5px;
}

.borderLeft{
    border-left: 1px solid #aaa;
    height: 20px;
    padding: 0px;
    margin-left: 25px;
    color: #999;
    padding-top: 2px;
    padding-left: 10px;
    font-size: 12px;
}
.myAccoutText{    
    color: #999;
    font-weight: normal;
    font-size: 12px;

}
.nav i{
    font-weight: bold;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0px !important;
  transition-duration: 0.8s;
  border-bottom:1px solid #ccc;

}
.customClass{
  margin:5px !important;
}