@media print 
{
    tr, td, th {page-break-inside:avoid}
    thead {display:table-header-group}
    .NoPrint {visibility:hidden; display:none}
    a {color:#000000}
}
.selectedPlan{
	height: 335px;
  padding:30px;
  color: #fff;
  font-size: 15px;
  background-size: 100% 100%;
	margin-top:120px !important;

	font-family: Arial !important;
  background-image: url("/images/bannerImgOrder.jpg");

}
.selectedPlan label{
	font-size: 40px;
}
.selectedPlan img{
  padding-top:8px;
  height: 90px;
}
.PlanDetails{
	height: auto;
	padding: 15px !important;
	font-family: Arial !important;
	margin-bottom: 50px;
  box-shadow: 1px 1px 10px 2px #ccc;

}
.centreDetaillistItemIP{
  padding-left: 0px !important;
  font-family: Arial !important;
  font-weight: bold;
  font-size: 25px !important;
}
.priceDivIP{
  font-weight: bold;
  font-size: 25px !important;
}
.radioCheckIP{
  position: absolute;
  top: 2px;
  left: 52px;
  vertical-align: center !important;
  align-content: center;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-left: -37px;
  z-index: 0;
}
.companyDetails{
  margin-top: 12px;
}
.centreDetailContainer input:checked ~ .radioCheckIP {
  background-color: #201a47;
  border:2px solid #201a47;
   height: 30px;
  width: 30px;
}
.customUlIP{
  list-style: none;
  font-size: 16px;
  padding-left: 20px !important;
  
}
.customUlIP li{
 padding-top: 15px;
}
.btnContainer{
  margin-bottom: 80px;

}
.makePaymentButton{
	padding: 15px;
	margin-bottom: 20px;
	background-color: #201a47;
	color: #fff;
	    font-family: Arial !important;
	  text-align: center;
	  cursor: pointer;
	  font-weight: bold;
	  font-size: 15px;
	border-radius: 3px;
}
.fs30{
  font-size: 30px;
}
.priceDivUP{
  border-top:5px #201a47 solid;
  padding:40px;
}