.selectedPlan{
	height: 100px;
	margin-top:120px !important;
	    font-family: 'Montserrat',sans-serif !important;
}
.selectedPlan label{
	font-size: 40px;
}
.PlanDetails{
	height: auto;
	padding: 60px !important;
	border-radius: 10px;
	font-family: 'Montserrat',sans-serif !important;
	margin-bottom: 50px;
    box-shadow: 1px 1px 10px 2px #ccc;
}
.centreDetaillistItemIP{
  padding-left: 0px !important;
  font-family: 'Montserrat',sans-serif !important;
  font-weight: bold;
  font-size: 25px !important;
}
.priceDivIP{
  font-weight: bold;
  font-size: 25px !important;
}
.radioCheckIP{
  position: absolute;


  top: 2px;
  left: 52px;
  vertical-align: center !important;
  align-content: center;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-left: -37px;
  z-index: 0;
}
.centreDetailContainer input:checked ~ .radioCheckIP {
  background-color: #201a47;
  border:2px solid #201a47;
   height: 30px;
  width: 30px;
}
.customUlIP{
	margin-left:55px !important;
  list-style-type: circle;
  
}
.customUlIP li{
 padding-top: 15px;
}
.btnContainer{
  margin-bottom: 80px;

}
.makePaymentButton{
	padding: 15px;
	margin-bottom: 20px;
	background-color: #201a47;
	color: #fff;
	    font-family: 'Montserrat',sans-serif !important;
	  text-align: center;
	  cursor: pointer;
	  font-weight: bold;
	  font-size: 15px;
	border-radius: 3px;
}