.cubannerWall{
	height: 435px;
	/*background-color:  #444;*/
	padding: 0px;
	position: relative;
  	text-align: center;
  	color: white;
  	background-image: url("/images/cubanner.jpg");
  	/*background-size: 100% 100%;*/
  	background-position: bottom;
  	background-attachment: fixed;
  	opacity: 0.8;
  	z-index: -1;
  	overflow: hidden;
  	transform: translate3d(0px, 0px, 0px);
}
.nopadding{
	padding: 0px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 68px;
  font-weight: 600;

}