.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   	background-color: #9fa6fc;
}
.custTableHead{
	font-size: 20px; 
	font-family: 'Montserrat-SemiBold';
	font-weight: 700;
	padding-bottom: 15px
}
.custTableFoot{
	font-size: 16px; 
	font-family: 'Montserrat-SemiBold';
	font-weight: 600;
}
.bgTheadadmin{
	background: #303F9F !important;
	color: #ffffff !important;
}
.deletemsg{
    margin-top: -205px;
    margin-left: 70px;
}
.nopadding{
	padding: 0px !important
}

.cafemenubtn {
    background-color: #303F9F !important;
    color: #fff;
    border:none;
    border-radius: 2px;
    height: 35px;
    margin-top: 25px;
}


.cafemenubtn:focus{
    border-style: none;
  	outline:none;
}
.input_box1{
	padding: 5px 15px !important;
    color: #000;
    border-style: none;
    border: 1px solid #aaa;
    border-radius: 2px;
    height: 35px;
	margin-top: 5px !important;
}
.textBtm{
	font-size: 13px;
}
.custTableHead1{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 45px;
    padding-bottom: 15px;
}
.customInp{
    border:none;
    box-shadow: none;
}
.customInp:focus{
    border:none;
    box-shadow: none;
}
.inpGrpAdn {
    border:none;
    border-right: 1px solid #979797 !important;
}
/********************************karuna css*********************************/
.workHeader{
    padding-left: 2em;
    border-bottom: 1px solid #eee;
}
.h5lettersp{
    margin-left: 1px;
    border:none;
}
.noborder{
    border:none !important;
}
.Facilities{
    margin-top: 9px;
}
.addlabelprop{
    margin-left: 46px;
}
.clr_k{
    
    height:80px !important;
    background-color: #f2f2f2;
    font-family:'Montserrat-Regular';
    cursor: pointer;
    border: 2px dotted #ccc;
}
.click_input{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-left: -15px;
}
.hand_icon{
    margin-left: 26%;
    margin-top: 10px;
}
.padTopC{
    padding-top: 15px;
}
.padLeftC{
    padding-left: 30px !important;
}
label {
    font-weight: 500 !important; 
}
.cafemodal{
    background-color:#eee;
    height: 150px;
    margin-top:185px;

}
.modalbtn{
    margin-top: 41px;
}
.modalbtn1{
    background-color:#303F9F ;
    color: #ffffff;
}