.gifContainer{
	padding-top:40px;
	padding-bottom: 40px;
	 font-family:'Montserrat',sans-serif;
	 height: 
}
.gifContainer img{
	height: 100%;
	width:100%;
}
.gifTextContainer{
	padding: 40px !important;
	 font-family:'Montserrat',sans-serif;

	padding-top:10% !important;
}
.gifTextContainer label{
	font-size: 5rem;
	line-height:1.2;
	font-weight: bold;
}
.gifTextContainer p{
	font-size: 1.5em;
    line-height: 1.5em;
}
.iceBlueColor{
	color: #201A47 !important
}
.gifTextContainer a{
	text-decoration: underline;
}
.onHoverEffect:hover{

}
.fiveG img {
    height: 500px;
    width: 100%;
}
.fiveG {
    height: 500px;
    margin-top: -337px;
}