.AllBlogsBox{
	background-color: #f6f6f6;
	border: 1px solid #eaeaea;
	padding: 20px;
}
/*.mtop75{
	margin-top: 75px; 

}*/
.blogTitle{
	margin: 5px 0px;
}
.AllblogImgB{
	height: 173px!important;
	width: 100%;
}
.Allblog{
	/*background-color: #888;*/
	
}
.All1blog1{
	height: 375px;
	margin-bottom: 50px;
	background-color: #fff;
	box-shadow: 0px 11px 15px 1px #ccc;
}
.p10{
	padding-left:  25px;
	padding-right: 10px;
}
.imgRoundrb{
	border-radius: 100%;
	height: 50px !important;
	width: 50px !important;
	position: relative;
	padding: 0px;
    top: 4%;
    left: 8%;
}
.r1blog1 hr{
	margin-bottom: 0px!important;
}

.mtop10{
	margin-top: 10px;
}

.mtop20{
	margin-top: 20px;
}
.graycolor{
	color:#777;
}

.z50{
	position: relative;
	top: -75px;
}