.AllBlogsBox{
	background-color: #f6f6f6;
	border: 1px solid #eaeaea;
	padding: 20px;
}
.All1blog1{

}
.blogTitle{
	margin: 5px 0px;
	  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
.AllblogImgB{
	height: 173px!important;
	width: 100%;
}
.Allblog a:hover{
	text-decoration: none;
}
.Allblog:hover .blogTitle{
	color: #1db1f1;
}
.blogPara{
	overflow: hidden;
	height: 125px;
	text-align: justify;
	text-overflow: ellipsis;
	padding-top: 10px;
}
.All1blog1{
	position: relative;
	height: 400px;
	margin-bottom: 50px;
	background-color: #fff;
	box-shadow: 0px 11px 15px 1px #ccc;
}
.p10{
	padding-left:  20px;
	padding-right: 20px;
}
.imgRoundrb{
	border-radius: 100%;
	height: 50px !important;
	width: 50px !important;
	position: relative;
	padding: 0px;
    top: 4%;
    left: 8%;
}
.r1blog1 hr{
	margin-bottom: 0px!important;
}

.mtop10{
	margin-top: 10px;
}

.mtop20{
	margin-top: 20px;
}
.graycolor{
	color:#777;
}

.z50{
	position: relative;
	top: -75px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 4%;
 right: -2%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.All1blog1:hover .middle {
  opacity: 1;
}

.wclr{
	color: #fff;
	margin: 5px;
	font-size: 20px !important;
	cursor: pointer;
}
.rclr{
	color: #f00;
	margin: 5px;
	font-size: 20px !important;
	cursor: pointer;
}

.hoverbk{
	    background-color: #111;
    border-radius: 12px;
}
.noBlogs{
	margin-top: 10%;
	margin-bottom: 10%;
	font-size:30px !important;
}
.premiumBlogIndicate{
	  position: absolute;
	  left: 5px;
	  top:5px;
	  color: #f5d26e;
	  font-size: 16px;

}