
.startTrandingContent{
	padding: 40px !important;
	font-family: 'PT Sans', sans-serif;

}
.startTrandingContent label{
	font-size: 5rem;
	line-height:1.2;
	font-weight: bold;
}
.startTrandingContent p{
	margin-top: 1em;
	font-size: 1.5em;
    line-height: 1.5em;
}

.startTrandingContent a{
	text-decoration: underline;
}
.startTrandingImgContainer img{
	margin-top: -350px;
}
.startInterestingButton{
	padding: 18px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.03em;
	background-color: #00819D;
}
.learnMore{
	padding: 17px !important;
	padding-left: 25px !important; 
}
.learnMoreST a{
	font-weight: bold;
	padding: 0px !important;
	color:#00819D !important;
}
.pad50{
	padding-top:50px;
}
/*.paraeff4{
  position: relative;
  right:40px !important;
  opacity:1 !important;
  transform: rotate(0deg);
  transition-duration: 1.5s;
}
.para2{
  position: relative;
  right:-500px;
  top:-30px;
  opacity: 0;
  transform: rotate(0deg);
  transition-duration: 1.5s;

}
*/