.nopadding{
	padding: 0px 0px;
}

.mt100{
	margin-top: 100px;
}
.mb50{
	margin-bottom: 20px;

}
.pagewrapper{
	height: auto;
}
.setM{
	height: 100px;
	/* width : 250px; */
}
.setWidth{
	width: 100px;
	margin: auto;
}

.mtop70{
	margin-top: 70px;
}
.setColor{
	height: 1000px;
}

.green{
	height: 320px;
}
.setSize{
	height: 100px;
	/* padding-left: auto; */
	background-color: #ccc;
}
.setColor{
	background-color: #f00;
}
.setText{
	color: #fff;
	text-align: center;
	font-weight: 500;
	background-color: #0000FF;

}
.setFile{
	height: 270px;
	margin: auto;
	background-color: #ccc;
}

.mt40{
	margin-top: 40px;
}

.marginSet{
    margin-bottom: 20px;
}
.setSize a img{
	margin-left: 100px;
}
.setFile a img{
	margin-left: 130px;
	margin-top: 80px;

}