.noborder{
	margin-top: 30px;
}
.noborderC{
	margin-top: 15px;
}

.selectbox{
    width: 100%;
    height: 34px !important;
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 3px;
	margin-bottom: 20px !important;
}
.marTop20{
	margin-top: 20px !important;
}