.admin-orders-SubTitleRow input {
    border-radius: 15px;
    margin-bottom: 10px;
}

.admin-orders-stat {
    background: #dd4b39;
    color: #fff;
}


.admin-orders-stat-NewOrder {
    background: #f36512;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Verified {
    background: #f39c12;
    color: #fff;
}
.admin-orders-stat-Packed {
    background: #337ab7;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Inspection {
    background: #4b4e53;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-OrderVerified {
    background: #dd4b39;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Dispatched {
    background: #dd3941;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Deliveredpaid {
    background: #00a661;
    color: #fff;
    padding: 1px 6px;
}
.admin-orders-stat-Delivered {
    background: #78dab6;
    color: #fff;
    padding: 1px 6px;
}

.admin-orders-stat-NewOrdericon {
    background: #f36512;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Verifiedicon {
    background: #f39c12;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Packedicon {
    background: #337ab7;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Inspectionicon {
    background: #4b4e53;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-OrderVerifiedicon {
    background: #dd4b39;
    color: #fff;
    padding:8px 10px;
}
.admin-orders-stat-Dispatchedicon {
    background: #dd3941;
    color: #fff;
    padding:8px 10px;
    
}
.admin-orders-stat-Deliveredicon {
    background: #999;
    color: #fff;
    padding:8px 10px;
    
}



.admin-order-view {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    /*background: #eee;*/
    cursor: pointer;
    color: #808080 !important;
}
.admin-order-changeStat {
    display: inline-block;
    padding: 5px 10px;
    /* margin-right: 5px; */
    background: #eee;
    cursor: pointer;
}
.admin-order-changeStatus{
    display: inline-block;
    /*padding: 5px 10px;*/
    /* margin-right: 5px; */
    background: #eee;
    cursor: pointer;
}
.admin-order-view:hover, .admin-order-changeStat:hover {
    color: #fff !important;
    background: #444;
}

/* .admin-order-view:visited, .admin-order-changeStat:visited {
    color: #808080;    
} */

.comm-status-of-order{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.admin-orders-listofColors {
    color: #444;
    font-weight: normal;
}
.dispatchdetails{
    margin-top: 5%;
}
.dispatchWrap{
    border: 1px solid #aaa;
}
/* .addBannerWrapperBtn1:hover{
    background: transparent!important;
} */