.contentHolder{
    background-color: #fff;
    height:40%;
    border-style: dotted;
    border-color: #aaa;
    border-width: 2px;
    height: 293px;
}
.backGround{
    margin-top: 30px
}
.uploadImg{
    /*margin-bottom: 68px;*/
    margin-top: 45px;
}
.uploadVideo{
    margin-bottom: 20px;
    margin-top: 45px;
}
.mt78{
    margin-top: 78px;
}

.imgcss{
   height: 50px;
   margin-top: 20px;
}
.imgLabel{
    position: absolute;
    left: 172px;
    top: -11px;
}