.bulkEmployeeImg img{
    height: 70px;
}
.bulkEmployeeImg{
    padding-left: 0px;
}
.productselection{
    margin-bottom: 20px;
}

.productselection .selectbox{
    margin-bottom: 0px !important;
}

.bulkuploadfile{
    margin-top: 20px;
}

.errorlabel{
    color: #f00;
}

.productchartout{
    margin-top: 40px;
}
