.filterborder{
	border-bottom: 1px solid #eee;
}
.logoamey{
	border-radius: 10px;
	box-shadow: 1px 1px 11px 1px #ddd;
	margin-top: 8%;
	background-image: url("/images/1.png");
	height: 50px;
	background-size: 100% 100%;
}
.logoBalaji{
	border-radius: 10px;
	box-shadow: 1px 1px 11px 1px #ddd;
	margin-top: 8%;
	background-image: url("/images/2.png");
	height: 50px;
	background-size: 100% 100%;
}
.logoGlobal{
	border-radius: 10px;
	box-shadow: 1px 1px 11px 1px #ddd;
	margin-top: 8%;
	background-image: url("/images/3.png");
	height: 50px;
	background-size: 100% 100%;
}
.SSSamey{
	border-radius: 10px;
	box-shadow: 1px 1px 11px 1px #ddd;
	margin-top: 8%;
	background-image: url("/images/4.png");
	height: 50px;
	background-size: 100% 100%;
}
.borderlist{
border-bottom: 1px solid #aaaaaa;
    /* margin-bottom: 5px; */
    box-shadow: 1px 1px 1px #eee;
    border-radius: 1px;
    cursor: pointer;
    background: #ebebeb;
}
.scrollbar{
	height: 600px;
    overflow-y: scroll;
    margin-left: 30px;
    padding: 0;
    width: 45%;
}
.borderlist12{
	min-height: 340px;
}
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ebebeb;
}
.filterMargin{
	    margin-top: 22px;
}
#style-2::-webkit-scrollbar
{
	width: 5px;
	background-color: #ebebeb;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1b1c20;
}

.listprofile{
	font-size: 13px;
	font-family: 'MYRIADPROREGULAR';
	white-space: nowrap;
	color: #666666;
}
.titleprofile{
	font-size: 16px;
    color: #000;
	padding: 0px 18px;
	font-weight: bold;
	font-family: 'MYRIADPROREGULAR';	
}
.listfont{
	font-family: 'MYRIADPROREGULAR';	

}
.brdtop{
	border-top: 0;
}
.box-title1{
	font-weight: bold;
	font-size: 18px;
    color: #444;
    padding: 0px 12px;
}
.searchbox{
	margin-top: 2%;
	box-shadow: 1px 1px 3px 1px #ddd;
    border-radius: 20px;
    font-size: 13px;
    border: 1px solid #fff;
    padding: 5px;
}
.box-title2{
	padding-top: 15px; 
}
.filter_wrapper{
	display: none;
	cursor: pointer !important;
}
.mrtpzero{
	margin-top: 0px;
}
.toggle{
	background-image:url("/images/filter.png");
	background-repeat: no-repeat;
 	display:inline-block;
	height:20px;
	width:20px;  
	cursor: pointer;
}
.toggle.expanded{
  background-image: url("/images/filter-tool-black-shape.png");
}
.selfilter{
	position: relative;
	top: -7px;
	font-family: "MYRIADPROREGULAR";
	font-size: 13px;
}
.alphab:focus{
	color: #fff;
	background: #000;
}
.texttrans{
	text-transform: none !important;
}
.selheight{
	height: 30px;
}
.showList{
	padding-left: 0px!important;
    padding: 10px;
    text-align: left;
    font-family: 'MYRIADPROREGULAR';
    font-size: 0.9em;
}
.showList{
	display: block;
}
.hide{
	display: none;
}
.dropbtn2{
	    color: black;
    background-color: #ccc;
    color: #333;
    padding: 7px 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 4px;
}
.boxshade{
	box-shadow: 4px 4px 30px #ddd;
	border-radius: 10px;
	padding: 10px;
	margin-top:10px;
	margin-bottom:10px;
}
.supplierLogoImage{
	    width: 65px;
    height: 65px;
    border: 1px solid #eee;
    overflow: hidden;
    box-shadow: 1px 1px 4px 2PX #c7c7c7;
    border-radius: 5px;
}
.supplierLogoImage{
	    margin-top: 28px;
}
.fa-user-o,.fa-map-marker,.fa-arrows,.fa-globe,.text-align-center,.fa-address-card-o,.fa-microchip{
	text-align: center;
}
.selectedSupplier{
	box-shadow: 0px 5px 15px #666;
    z-index: 1;
    background: white;
    border: 1px solid #bbb;
    width: 98%;
    border-radius: 0px;
    margin-left: 5px;
}
.mapIconMargin{
	margin-top: 1%;
}
.marginTop{
	margin-top: 64px;
}
.padding-top60{
	padding-top: 60px;
}
.alphab{
    font-size: 9px;
    margin: 1px;
    border-radius: 15px
}
.form-control{
	border-radius: 15px
}
.locationHeadingMargin{
	margin-bottom:20px;
}