.reset{
    background: #000;
    color: #fff;
    border-radius: 34px;
    font-size: 12px;
    padding: 5px 33px;
    margin-bottom: 9%;
    outline: none;
    font-family: 'MYRIADPROREGULAR';
    border: 0px;
}
.resetinp{
    font-family: 'MYRIADPROREGULAR';
    margin-bottom: 9%;
	border-radius: 20px !important;
}
.alphab{
margin: 3.8px;
    border-radius: 62px;
    background: #ddd;
    color: #000;
    font-size: 9px;
    margin-bottom: 2%;
    padding: 7px 0px !important;
    width: 27px;
    height: 27px;
}
/*.alphab{
	margin: 3.8px;
	border-radius: 20px;
	background: #ddd;
	color: #000;
    font-size: 10px;
    margin-bottom: 2%;
    padding: 4px 9px !important;
}*/
.filterallalphab{
	padding: 0px 26px 0px 15px !important;
}
.supplierprofile{
    display: none;
}
.supplierprofiles{
    display: block;
}
.supplierLogoImage{
    padding: 0;
    margin-top: 25px;
}
.formcontrol{
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}