.customModalRP{
	background-color: #d7d7d6;
	height: 750px;
  font-family: 'PT Sans', sans-serif;

	padding: 20px;
}
/* Create a custom checkbox */
.centreDetailContainer{
  position: relative;
  padding-top: 5px;
  align-content: center;
  cursor: pointer;
  font-size: 10px;
  user-select: none;
  text-align: center;
}
/* Hide the browser's default checkbox */
.centreDetailContainer input {
     position: relative;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    height: 17px;
    width: 17px;
    /* right: 10px; */
    margin-top: 2px;
}
.centreDetailCheck {
  position: absolute;
  top: 2px;
  left: 52px;
  vertical-align: center !important;
  align-content: center;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 2px solid #ddd;
  margin-left: -37px;
  z-index: 0;
}
.radioCheck {
  position: absolute;
  top: 2px;
  left: 52px;
  vertical-align: center !important;
  align-content: center;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-left: -37px;
  z-index: 0;
}
/* On mouse-over, add a grey background color */
.centreDetailContainer:hover input ~ .centreDetailCheck{
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.centreDetailContainer input:checked ~ .centreDetailCheck {
  background-color: #5F9C30;
  border:2px solid #5F9C30;
}
/* Create the checkmark/indicator (hidden when not checked) */
.centreDetailCheck:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.centreDetailContainer input:checked ~ .centreDetailCheck:after {
  display: block;
}
/* Style the checkmark/indicator */
.centreDetailContainer .centreDetailCheck:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  align-content: center;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/* On mouse-over, add a grey background color */
.centreDetailContainer:hover input ~ .radioCheck{
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.centreDetailContainer input:checked ~ .radioCheck {
  background-color: #5F9C30;
  border:2px solid #5F9C30;
}
/* Create the checkmark/indicator (hidden when not checked) */
.radioCheck:after {
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.centreDetailContainer input:checked ~ .radioCheck:after {
  display: block;
    background-color: transparent;
}
/* Style the checkmark/indicator */
.centreDetailContainer .radioCheck:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  align-content: center;
  border: solid white;
  border-width: 0 3px 3px 0;   


  transform: rotate(45deg);
}
.centreDetaillistItem{
  padding-left: 25px;
      font-family: 'PT Sans', sans-serif;

  padding-top: 5px;
  font-size: 12px !important;
}
/*other css*/
:root
{
	--text: "Select values";
}
.multiple_select
{
	height: 30px !important;
	padding: 5px !important;
	-webkit-appearance: menulist;
	  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
font-family: 'PT Sans', sans-serif;

	position: relative;
}
.multiple_select::before
{
	content: var(--text);
	display: block;
  margin-left: 5px;
  margin-bottom: 2px;
}
.multiple_select_active
{
	overflow: visible !important;
	  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
.multiple_select option
{
	display: none;
	width: 102% !important;
	margin-left: -4px !important;
    height: 18px;
	background-color: white;
}
.multiple_select_active option
{
	display: block;
}

.multiple_select option::before {
  content: "\2610";
}
.multiple_select option:checked::before {
  content: "\2611";
}
.css-1r4vtzz{
	width: 100% !important;
}
.css-48ayfv{
	width: 100% !important;
}
.css-1qprcsu-option{
	background-color: transparent !important;
}
/*other*/
.btn { 
  padding:6px; width:100%; border-radius:2px;
  background-color:#fff; color:#333;
  border:1px solid #777;  text-align:left; }
.btn-select { position:relative; }
.btn-select:after {
  content:"";
  display: block; 
  position:absolute; top:50%; right:10px; margin-top:-2px;  
  width: 0;
  height: 0;
  border-top: 4px solid #777;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown-menu-select { padding:0; margin-top:-2px; width:100%; border-radius:0 0 2px 2px; border-color:#777;}

.dropdown-radio { 
  display:block; position:relative;
  margin:0;
  width:100%; overflow:hidden; text-overflow:ellipsis;
  border-bottom:1px solid #eaeaea; 
  cursor:pointer;
}
.dropdown-radio input { 
  visibility: hidden; 
  position:absolute; left: -30px; }
.dropdown-radio i { 
  font-weight:normal; font-style:normal; 
  display:block; padding:7px; }

  .customDrop{
  	text-align: left !important;
  	border-radius: 2px !important;
  	overflow: hidden;
  }
  .dropdown-radio input{
  	visibility: visible !important;
  	left:7px;
  	top:7px;
  }
  .dropdown-radio i{
  	margin-left: 15px !important;
  }
  .titileName{
    color: #007993;
    font-size: 20px;
  }
  .submitButtonRP{
    padding:10px;
    color: #fff;
    background-color: #201b47;
    cursor: pointer;

  }
  .hight400{
    height: 500px;
  }
  /*kyc css*/
  .formNameTitle {
    font-size: 30px;
    margin-top: 0%;
    /* margin-bottom: 13%; */
    padding: 10px;
    color: #201a47 !important;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif !important;
}
.customInputKF{
  display: block !important;
  width: 100%;
    height: 34px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.inputContainerRP{
  padding: 10px;
  padding-top: 20px;
  font-family: 'PT Sans', sans-serif !important;
}
.formContainer{
  margin:10px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,.075);
}
.kycImage{
  margin-top: 10%;
  height: 330px;

}
.kycImage img{
  height: 100%;
  width: 100%;
}
.submitButton{
  padding: 10px;
  color: #fff;
  background-color: #201a47 !important;
  font-weight: bold;
  cursor:pointer;
  font-size: 14px;


}