.titleContainer{
	text-align: center;
}
.titleContainer label{
	color: #201a47 !important;
	font-size: 26px !important;
	padding: 20px;

}
.productContainer{
	height: auto;
	padding: 20px;
	margin-top:20px;
	margin-bottom:20px;
	line-height: 25px;
	font-family: 'PT Sans', sans-serif;
	box-shadow: 5px 5px 5px 5px #aaa;
}
.productContainer label{
	color:#007993 ;
	font-size: 18px;
}
.imageContainer img{
	height: 100%;
	width: 100%;
}
.customTablePP tr> td,th{
	border:1px solid #aaa;
	padding: 20px !important;
}
.customOl{
	    padding-left: 15px !important;
}
.customOl li{
	padding:5px !important;
}
.specifications{
	padding:10px;
}
.buyNowButtonPP{
	color: #fff;
	background-color: #201a47;
	padding: 8px;
	cursor: pointer;
}
.inputContainerRP{
  padding: 10px;
  padding-top: 20px;
  font-family: 'PT Sans', sans-serif !important;
}
.inputContainerRP label{
	color:#333 ;
	font-size: 14px;

}
.enquireNow{
	color:#201a47;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
	font-size: 14px;
}
.colored{
		color:#201a47 !important;
		font-weight: bold;
		cursor: pointer;
}
.lineSpace{
	line-height: 30px;
}