.basic-info-pillss{
  padding: 7px 15px !important;
}
/*.boxMinHeighttab{
  height: 2300px !important;
}*/
.supplierForm{
  padding: 0;
  margin-bottom: -19px;
}
.formHrTag{
  border-bottom: 1px solid #66666659;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.checkinp:hover .crossSpan{
      border: 1px solid gray;
    border-radius: 100px;
    width: 34px;
    position: absolute;
    height: 34px;
    cursor: pointer;
    display: block;
}
.crossSpan{
  display: none;
   border: 1px solid gray;
    border-radius: 100px;
    width: 34px;
    position: absolute;
    height: 34px;
    cursor: pointer;
}
.checkSpan{
  display: block;
   border: 1px solid gray;
    border-radius: 100px;
    width: 34px;
    position: absolute;
    height: 34px;
    cursor: pointer;
}
.iconMarginLeft{
  margin-left: 10px;
}
.checkinp:hover .checkSpan{
  display: none;
   border: 1px solid gray;
    border-radius: 100px;
    width: 34px;
    position: absolute;
    height: 34px;
    cursor: pointer;
}
.crossIcon{
    position: absolute;
    left: 9px;
    top: 7px;
    font-size: 18px;
    color: red;
}
.checkIcon{
    position: absolute;
    left: 7px;
    top: 7px;
    font-size: 18px;
    color: green;
}
.listOfProduct{
  padding: 0;
}
.buttonAddOne{
    width: 105px;
    background-color: #666666!important;
    color: #fff!important;
}
.buttonAdd{
    font-weight: 700;
    background-color: #ddd;
    border: none;
    color: #000;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px -6px;
    cursor: pointer;
    border-radius: 23px;
    box-shadow: 3px 5px 3px #ddd;
    margin-bottom: 3%;
    outline: none;
}
.styleContactActbtn{
  cursor: pointer;
}
.attachfiles{
      text-align: center;
    font-size: 24px;
    border: 1px dashed #ddd;
    background: #dddddd52;
    color: #333;
    /* padding: 16px 16px; */
    /* margin-bottom: 30%; */
    padding: 0;
    height: 127px;
    overflow: hidden;
}
.paddingZero{
  padding: 0px;
  height: 127px;
}


.boxhd{
  border-bottom: 1px solid #66666659;
  margin-bottom: 2.5%;
}
.examDateWrap{
  color: #333;
}
.labelform{
  font-size: 13px;
  font-weight: 500;
  padding: 0px;
  letter-spacing: 1px;
  font-family:'MYRIADPROREGULAR';
}
.inputText{
  /*margin-bottom: 14px;*/
  font-family:'MYRIADPROREGULAR';
}
.inputTextTwo{
  margin-bottom: 0px!important;
}
.marginsB{
  margin-bottom: 27px!important;
}
.blockWebsite{
  padding: 0px;
}
.lable{
      margin-bottom: 0px!important;
}
.margin-bottomOne{
      margin-bottom: 27px!important;
}
/*.defaultError{
  color: red;
  display:none;
}*/
.Pointer{
  cursor: pointer;
}
.Websiteerror ,.gst-no{
  padding: 0px;
}

.nav > li.disabled > .backcolor:hover{
    color: #fff;
    text-decoration: none;
    cursor: not-allowed;
    background-color: #333!important;
}.
.nav > li.disabled > .backcolor:focus{
    color: #fff;
    text-decoration: none;
    cursor: not-allowed;
    background-color: #333!important;
}
.nav > li.disabled > .backcolor:active{
    color: #fff!important;
    text-decoration: none;
    cursor: not-allowed;
    background-color: #333!important;
}
.addlogoImg{
    position: absolute;
    top: 5.5em;
    left: 9.7em;
    display: none;
    cursor: pointer;
}
.addpicmr:hover .addlogoImg{
    position: absolute;
    top: 5.5em;
    left: 9.7em;
    display: block;
}

.nav > li.disabled > .backcolor{
  color: #fff!important;
  text-decoration: none;
    cursor: not-allowed;
    background-color: #333;
}
.brdlogo{
    background: #dddddd52;
    /* margin-top: 25px; */
    border: 1px dashed #ddd;
    /* padding: 22px; */
    height: 1.6em;
    position: absolute;
    width: 2em;
    top: 6em;
    left: 14.7em;
}
.logoStyle{
  height: 9.1em;
    padding: 0;
    width: 100%;
}
.brdlogos{
    /*background-image: url(/images/CSLogo.png);*/
    background-size: 232px 128px;
    background-repeat: no-repeat;
    background: #ebebeb;
    border: 1px dashed #ddd;
    height: 9.1em;
    padding: 0px;
}
.camicon{
text-align: center;
    display: block;
    font-size: 31px;
    color: #d0cdcd;
    position: absolute;
    margin: 1em 2.5em;
}
.Logoclr{
  text-align: center;
  color: #333;
  font-size: 11px;
}
.addpicmr{
  padding-right: 0px;
}
.nav-pills {
    text-align:center;
}
.box{
  height: 1000px
}
.boxhr{
  border-bottom: 1px solid #66666659;
  margin-top: 2%;
  /*margin-bottom: 3%;*/
}
.attachDocuments{
  margin-top: 2%;
  font-size: 16px;
  margin-bottom: 1%;
  padding:0;
  font-weight: 600;
}
.attachDoc{
    text-align: center;
    background: #dddddd52;
    height: 138px;
    margin: 0 auto;
    border: 1px dashed #ddd;
    margin-bottom: 3%;
    border-radius: 5px;
}
.ADDLogo{
  position: absolute;
    left: 35%;
    top: 42%;
}
/*.boxMinHeight{
  height: auto !important;
  min-height: 272em;
}*/
.uploadlogo{
text-align: center;
    font-size: 43px;
    color: #ccc;
    position: relative;
    /* bottom: 2em; */
    margin-top: 20px;
    /*margin-right: 13%;*/
}
.uploadlogoTwo{
    text-align: center;
    font-size: 43px;
    color: #ccc;
    position: relative;
    /* bottom: 2em; */
    margin-top: 20px;
    margin-left: 44%;
}
.liheader {
  /*padding: 26px 0px 7px 0px;*/
  padding: 12px 0px 7px 0px;
    font-weight: bold;
}
/*li{
  list-style: none;
}*/
.drag{
  font-size: 13px;
  letter-spacing: 1px;
/*    position: relative;
    bottom: 6em;*/
}
.crossbtn{
  left: 4px;
  z-index: 200;
  position: relative;
  top: 9px;
  font-size: 13px;
  color: #fff;
  background: #e60004;
  padding: 0px 1px;
  border-radius: 10px;
  cursor: pointer;
  padding: 2.5px;
}
.attachfile{
 text-align: center;
 font-size: 24px;
 border: 1px dashed #666666;
 background: #dddddd52;
 color: #333;
 padding: 16px 16px;
 /*margin-bottom: 30%;*/
}
.button1{
  font-weight: 700;
  background-color: #1b1c20;
  border: none;
  color: #fff;
  padding: 6px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 23px;
  box-shadow: 3px 5px 3px #ddd;
  margin-bottom: 3%;
  outline: 0;
  letter-spacing: 1px;
  font-family: 'MYRIADPROREGULAR';
}
.button2{
  box-shadow: 3px 5px 3px #ddd;
  font-weight: 700;
  background-color: #2c324540;
  border: none;
  color: #000;
  padding: 6px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*margin: 4px 2px;*/
  cursor: pointer;
  border-radius: 23px;
  outline: 0;
   letter-spacing: 1px;
  font-family: 'MYRIADPROREGULAR';
}
.phoneIcon{
  margin-left: 2em;
}
.button3{
  box-shadow: 3px 5px 3px #ddd;
  font-weight: 700;
  margin-top: 2%;
  background-color: #666;

  border: none;
  color: #fff;
  padding: 6px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*margin: 18px 2px;*/
  cursor: pointer;
  border-radius: 23px;
  outline: 0;  
   letter-spacing: 1px;
  font-family: 'MYRIADPROREGULAR';
}
.locationTabs{
  padding:0;
}
.button3:hover{
  color:#fff!important;
}
.button6{
  background-color: red!important; 
}
.boxul1{
    padding: 14px 9px 35px 0px;
    border-radius: 10px;
    box-shadow: -5px 7px 7px -3px #ddd;
    margin-bottom: 2%;
    background-color: #fff;
    border: 1px solid #eee;
}
.boxul{
  /*padding: 14px 9px 35px 0px;*/
  border-radius: 10px;
  box-shadow: -4px 7px 39px -5px #ddd; 
  margin-bottom: 2%;
  border:1px solid #ddd;
}
.foothd{
  margin-top: 3%;
 /* margin-bottom: 2%;*/
}
.palfclr{
  padding-left: 0px;
}
.iconpd{
  padding: 1px 5px;
}
.usericn{
  padding: 14px 6px;
  /*padding: 19px;*/
  text-align: center;
  font-size: 31px;
}
.input-group-addon.beautiful input[type="checkbox"],
.input-group-addon.beautiful input[type="radio"] {
    display: none;
}
.checkinp{
  margin-bottom: 3%;
}
.OnboardingTabs{
  margin-top: 2%;
  margin-bottom: 2%;
}
.nav-pills > li > a {
  border-radius: 0;
  color: #fff;
  background: #333;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #039be5 !important;
}
/*.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #039be5;
}*/
/*.nav-center {  
  text-align: center;}
  ul.nav {
    display: inline-block;}
    li {
      display: inline}
      a {
        float: left}*/
      
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    /*display:inline; *//* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.whitesp{
  white-space: nowrap;
}
.bglevel{
  border-radius: 0px 10px 10px 0px;
  background:#039be5;
  height: 73px;
  /*height: 115px;*/
  color: #fff;
}
.bxht{
  /*height: 100px;*/
}
.level1{
  text-align: center;
  /*padding: 29px;*/
  padding: 3px;
}
.dots{
  padding-right: 16px;
  text-align: right;
}
.lisubheader{
  padding: 12px 0px 7px 0px;
  /*padding: 26px 0px 7px 0px;*/
}
.downarr{
  font-size: 17px;
  text-align: center;
  margin-bottom: 2%;
}
.bglevel1{
  background:#af1212f7; 
  border-radius: 0px 10px 10px 0px;
  height: 73px;
  /*height: 115px;*/
  color: #fff;
}
.bglevel2{
  background:#7d0303f7; 
  border-radius: 0px 10px 10px 0px;
  height: 73px;
  /*height: 115px;*/
  color: #fff;
}
.tithead{
  margin-bottom: 1%;
}
.liheader1{
  text-align: center;
  /*padding: 12px 0px 7px 0px;*/
  padding: 26px 0px 7px 0px;
}
.addrbox{
  padding: 27px 0px 7px 6px;
}
select{
  position: relative;
}
.blueText{
  color: #ddd;
  padding: 15px 15px;
}
.box1{
  border: 1px solid #ddd;
  border-radius: 18px;
}
/*.btncircle{
  border-radius: 45px !important;
}*/
.btncircle1{
  /*border:none;*/
  border-radius: 16px !important;
  padding-left: 36px !important;
    border: 1px solid;
    cursor: pointer;
}
.input-group .btncircle{
  border-radius: 25px !important;
}
.input-group-addon:first-child {
    border-right: 1;
}


#hide input[type=file] {
display: block;
    /* margin: 10px; */
    background: transparent;
    opacity: 0;
    cursor: pointer;
}
#hide input[type=file] + label {
display:inline-block;
margin:20px;
padding: 4px 32px;
background-color: #FFFFFF;
border:solid 1px #666F77;
border-radius: 6px;
color:#666F77;
}
#hide input[type=file]:active + label {
background-image: none;
background-color:#2D6C7A;
color:#FFFFFF;
}
.lable{
      margin-bottom: 0px!important;
}
#hidedoc input[type=file] {
display: block;
    /* margin: 10px; */
    background: transparent;
    opacity: 0;
    cursor: pointer;
}
#hidedoc input[type=file] + label {
display:inline-block;
margin:20px;
padding: 4px 32px;
background-color: #FFFFFF;
border:solid 1px #666F77;
border-radius: 6px;
color:#666F77;
}
#hidedoc input[type=file]:active + label {
background-image: none;
background-color:#2D6C7A;
color:#FFFFFF;
}
#hidedoc{
      margin-bottom: 20px;
      padding:0;
}
.ulbtm{
  margin-bottom: 0px;
}
.docAttach{
      background: #dddddd52;
    /* margin-top: 25px; */
    border: 1px dashed #ddd;
    /* padding: 22px; */
    height: 8.6em;
    position: absolute;
}

.dropbtn {/*
    border-radius: 100%;
    background-color: #fff;*/
    color: #666;
    padding: 9px 11px !important;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.UMdropbtn {
    /*border-radius: 100%;*/
    /*background-color: #fff;*/
    color: #666;
    padding: 0px 15px !important;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content4{
      display: block;
    position: absolute;
    right: -4px!important;
    background-color: #fff;
    min-width: 100px!important;
    box-shadow: 0px 8px 8px 0px #eee;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    margin-top: -5px!important;
}
.dropdown-content:after {
    position: absolute;
    top: -6px;
    right: 8px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f1f1f1;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 82px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 5px;
    border-radius: 8px;
}
.dropdown-content a {
    color: #666666;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.penmrleft{
  margin-left: -13px;
}
.dropdown1{
    position: relative;
}
.dropbtn1 {
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    border: none;
}
.dropdown-content1:after {
    position: absolute;
    top: -6px;
    right: 8px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f1f1f1;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 82px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 5px;
    border-radius: 8px;
}
.dropdown-content1 a {
    color: #666666;
    padding: 7px 17px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
    display: block;
}
.mrflfedit{
  margin-right: 10px;
}
.marginsBottom{
  margin-bottom: 20px!important;
}
.levelOneBox,.levelTwoBox,.levelThreeBox{
  height: 73px;
    /*background: #aaa;*/
}
.fontsizeMax{
  font-size: 10px;
}
.fontli{
  font-size: 13px;
}
.textAlign{
  text-align: center;
}
.button4{
      box-shadow: 3px 3px 3px #ddd;
    font-weight: 700;
    background-color: #fff;
    border: none;
    color: #000;
    padding: 6px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 23px;
    outline: 0;
    border: 1px solid #ddd;
}
.pdclsOne{
      padding-right: 0.5%;
}
 #triangle-right {
      width: 0;
      height: 0;
      border-top: 18px solid transparent;
      border-left: 22px solid #333;
      border-bottom: 17px solid transparent;
}

#triangle-right1 {
      width: 0;
      height: 0;
      border-top: 18px solid transparent;
      border-left: 22px solid #fff;
      border-bottom: 17px solid transparent;
    }
#triangle-right2 {
      width: 0;
      height: 0;
      border-top: 18px solid transparent;
      border-left: 22px solid #fff;
      border-bottom: 17px solid transparent;
    }
#triangle-right3 {
      width: 0;
      height: 0;
      border-top: 18px solid transparent;
      border-left: 22px solid #fff;
      border-bottom: 17px solid transparent;
    }

.triangleone{
    position: absolute;
    top: -0.5px;
    right: -16px;
    z-index: 2;
}
.trianglethree{
    position: absolute;
    top: -0.5px;
    right: -16px;
    z-index: 2;
}
.trianglefive{
    position: absolute;
    top: -0.5px;
    right: -16px;
    z-index: 2;
}
.triangletwo{
      position: absolute;
    top: -0.5px;
    /*right: -18px;*/
    z-index: 1;
}
.trianglefour{
      position: absolute;
    top: -0.5px;
    /*right: -18px;*/
    z-index: 1;
}
.trianglesix{
      position: absolute;
    top: -0.5px;
    /*right: -18px;*/
    z-index: 1;
}
.fa-cube{
      margin-left: 10px;

}
.triangleones,.triangle3,.triangle5{
      border-left: 22px solid #039be5 !important;
}
.noteSupplier{
    font-size: 12px;
    margin-top: 2em;
    font-style: italic;
}
.contactDetailTitle{
  padding: 0;
}
.nav > li.disabled > .pillsHover:hover, .nav > li.disabled > .pillsHover:focus{
      background-color: #333333;
}
.contactSubmit{
  margin-bottom: 3em;
  margin-top: 3em;
}
.productServiceForm{
  padding: 0;
  margin-left: -0.5em;
  margin-right: 0.5em;
}
.pdSerForm{
  padding: 0;
}
.clickHere{
  cursor: pointer;
  margin-bottom: 15px;
}
.addContactForm{
  padding: 0;
}
.contactForm{
  padding: 0;
}
.dropdown-contentLocation{
  margin-top: -3px!important;
}
.newboxhd{
  padding-bottom: 10px;
}
.CancelButtonSwal  {
/*  position: unset!important;
  float: left!important;*/
  background: #fff !important;
  color: #000;
  text-transform: uppercase;
}
.OkButtonSwal {
/*  position: unset!important;
  float:right!important;*/
  background: red;
  color: white;
}
.postionSwalRight{
  position: unset!important;
  float: right;
}
.postionSwalLeft{
  position: unset!important;
  float: left;
}
/*.addLocationForm{
  display: none;
}*/
.addLocationForm{
  padding:0;
}
.locationSupplierForm{
  padding: 0;
}
.activeTab{
  background-color: #1b1c20!important;
  color: white!important;
}
.inActiveTab{
  background-color: #666666!important;
  color: white!important;
}
.activeTabTra{
  /*background-color: #1b1c20!important;*/
  border-left: 22px solid #1b1c20!important;
  color: white!important;
}
.inActiveTabTra{
  /*background-color: #666666!important;*/
  border-left: 22px solid #666666!important;
  color: white!important;
}
.button22{
      padding: 6px 25px!important;
}
.nav-pills > li > a > .fa, .nav-pills > li > a > .glyphicon, .nav-pills > li > a > .ion {
    margin-right: 7px;
    margin-left: 14px;
}
.switchFieldType {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 1px;
  overflow: hidden;
}

.switchFieldType input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switchFieldType label {
  float: left;
}

.switchFieldType label {
  display: inline-block;
  width: 120px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switchFieldType label:hover {
  cursor: pointer;
}

.switchFieldType input:checked + label {
  background-color: #333;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.switchFieldType label:first-of-type {
  /*border-radius: 4px 0 0 4px;*/
}
.basic-info-pillss:focus{
  background: #333 !important;
}
.redirectToAdmin{
  padding: 12%;
  background: #666;
  color: #fff;
  height: 35px;
  border-radius: 100%;
  cursor: pointer;
}