.blockquote{
	margin: 27px 0px 27px 0px;
    padding: 0px 0px 0px 27px;
    background-color: #f4f4f4;
    border-left: 5px solid #201A47 !important;
}
.blogBox p{
	font-family: 'Montserrat',sans-serif;
	text-align: justify !important;
	color: #444;
}
.sCont{
	font-size: 14px;
}
.userbtn{
	padding: 8px 30px;
    width: 155px;
    margin-top: 20px;
    margin-bottom: 25px;
    cursor: pointer;
	border: 1px solid #dddddd;
	background-color: #fff;
	columns: #111;
}
.userbtn:hover{
	background-color: #dddddd;
	color: #fff;
}
.mt40{
	margin-top: 40px;
}